<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nodejs Basic</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- top nav -->
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload file</a>
    </div>

    <!-- from input data user -->
    <div id="create-data-user">
        <h3>Create new user</h3>
        <form action="/create-data-user" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input required type="text" name="firstName" id="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input required type="text" name="lastName" id="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input required type="email" name="email" id="email">
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input required type="text" name="address" id="address">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <!-- table data users -->
    <div class="data-user">
        <h2>List User</h2>
        <table id="customers">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < dataUsers.length; i++) { %>
                    <tr>
                        <td>
                            <%= dataUsers[i].id %>
                        </td>
                        <td>
                            <%= dataUsers[i].firstName %>
                        </td>
                        <td>
                            <%= dataUsers[i].lastName %>
                        </td>
                        <td>
                            <button><a href="/detail/user/<%= dataUsers[i].id %>" target="_blank">Detail</a></button>
                            <button><a href="/update/user/<%= dataUsers[i].id %>">Change</a></button>
                            <form action="/delete-data-user" method="post">
                                <input type="text" hidden value="<%= dataUsers[i].id %>" name="userId">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

    </div>
</body>

</html>